{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="menu-container">
        {% include 'navbar.html' %}
    </div>

    <div class="container" style="margin-top: 70px;">
            <div class= "text-center" style="background-color: rgb(32, 219, 147);">
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert" style="font-size: medium; margin-bottom: 30px;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} 
            {% endif %}
            </div>
        <div class="main-body">
        
            <h1 class="text-center py-3" style="margin: 20px; font-family: 'Alice', serif;">My Profile</h1>

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">                   
                
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Card Number</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ profile_details.customer.username }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Amount</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <button>Top Up Card</button>
                                </div>
                            </div>
                            <hr>                           
                           
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-primary" href="{% url 'editprofile' user.username %}" name="EditProfile"><i class="fa-solid fa-edit"></i> Edit Profile Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    
                </div>
            </div>
        
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">                   
                    
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ profile_details.customer.fullname }}
                                    </div>
                                </div>
                                <hr>
                                
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Username</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ profile_details.customer.username }}
                                    </div>
                                </div>
                                <hr>
                                
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ profile_details.customer.email }}
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone number</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ profile_details.customer.phonenumber }}
                                    </div>
                                </div>
                                <hr>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary" href="{% url 'editprofile' user.username %}" name="EditProfile"><i class="fa-solid fa-edit"></i> Edit Profile Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        
                    </div>
                </div>
    
            </div>
        </div>   

        {% endblock %}